<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login ke StokApp</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-slate-100 flex justify-center items-center h-screen">

<div class="bg-slate-100 p-8 rounded-xl shadow-lg w-[400px]">

    <h2 class="text-2xl font-bold text-center mb-6">Login ke StokApp</h2>

    {% for m in messages %}
        <p class="text-red-500 text-center text-sm mb-2">{{ m }}</p>
    {% endfor %}

    <form method="POST">
        {% csrf_token %}

        <label class="font-semibold">Email</label>
        <input type="text" name="username"
               class="w-full border rounded-lg p-2 mb-3"
               placeholder="Masukkan username">

        <label class="font-semibold">Password</label>
        <input type="password" name="password"
               class="w-full border rounded-lg p-2 mb-5"
               placeholder="Masukkan password">

        <button type="submit"
            class="w-full bg-sky-800 text-white py-2 rounded-lg hover:bg-blue-700 transition">
            Login
        </button>

        <!-- 🔥 Tambahkan link DAFTAR di bawah tombol login -->
        <p class="mt-4 text-center text-sm">
            <a href="/accounts/register/" class="text-sky-800 font-semibold hover:underline">
                Daftar
            </a>
        </p>

    </form>
</div>

</body>
</html>
